/**
* COLOR
**/

$black: #000;
$white: #fff;


/**
* FONTS
**/
@font-face {
	font-family: 'Kizo';
	src: url('./assets/fonts/Kizo_Bold.eot');
    src: local('☺'), 
    url('./assets/fonts/Kizo_Bold.woff') format('woff'),
    url('./assets/fonts/Kizo_Bold.woff2') format('woff2'),
    url('./assets/fonts/Kizo_Bold.ttf') format('truetype'), 
    url('./assets/fonts/Kizo_Bold.svg#svgKizo_Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}

$kizo: 'Kizo';
$openSans: 'Open Sans';


h1, h2, h3, h4, h5, h6, p, span {
    font-family: $kizo;
}

a {
    font-family: $openSans;
}

body {
    background-color: $black;
    margin: 0;
    overflow: hidden;
    color: $white;

    h1 {
        position: absolute;
        top: 50%; left: 0; right: 0;
        transform: translateY(-50%);
        margin: auto;
        text-align: center;
        text-transform: uppercase;
        font-size: 10rem;
        letter-spacing: 0.33rem;
        transition: 1s all cubic-bezier(0.25, 0.87, 0.55, 1.02);
        overflow: hidden;

        span {
            display: inline-block;
            transform: translate3d(0,101%,0);
        }

        &.minimize {
            top: 15%;
            transform: translateY(-15%);
        }
    }

    .navigation {
        position: absolute;
        bottom: 20px;
        left: 0;
        right: 0;

        button {
            width: 100%;
            text-align: center;
            position: absolute;
            z-index: 1;
            bottom: 0;
            left: 0;
            right: 0;
            text-decoration: none;
            box-sizing: content-box; 
            background: none;
            border: 0;
            color: inherit;
            /* cursor: default; */
            font: inherit;
            line-height: normal;
            overflow: visible;
            appearance: none;
    
            &:active, &:focus {
                outline: none;
                border: none;
            }
    
            span {
                color: $white;
                opacity: 0.3;
                letter-spacing: 1px;
                font-size: 1.5rem;
                text-transform: uppercase;
                display: inline-block;
                margin: 1px 0;
                line-height: 1.2rem;
                transition: all 0.3s ease-in-out;
    
                &:first-child {  
                    transition: all 0.3s ease-in-out;
                    &:after {
                        content: '';
                        width: 27px;
                        height: 2px;
                        margin: 9px 0 9px 5px;
                        background-color: $white;
                        opacity: 0.3;
                        display: inline-block;
                    }
                }
    
                &:last-child {
                    transition: all 0.3s ease-in-out;
                    &:before {
                        content: '';
                        width: 27px;
                        height: 2px;
                        margin: 9px 5px 9px 0;
                        background-color: $white;
                        opacity: 0.3;
                        display: inline-block;
                    }
                }
            }
    
            &:hover {
                span {
                    opacity: 1;
    
                    &:before, &:after {
                        opacity: 1;
                    }
                }
            }
        }
    }

    .background_title {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 0;

        h2 {
            font-size: 45rem;
            text-transform: uppercase;
            letter-spacing: 0.33rem;
            margin: 0;
            opacity: 0.1; 
            position: absolute;
            line-height: 0.5;
            z-index: 0;

            &:first-child {
                top: 0;
                left:0;
            }

            &:last-child {
                bottom: 0;
                right: 0;
            }
        }
    }

    .home {
        button {
            span {
                &:first-child {
                    transform: rotate(0)
                }
                &:last-child {
                    transform: rotate(0)
                }
                &:nth-child(2), &:nth-child(3) {
                    opacity: 1;
                }
            }
        }
    }

    .about {
        position: absolute;
        top: 30%;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        text-align: center;
        
        div {
            margin: 20px 0;

            p {
                font-size: 3rem;
                margin: 0;
            }
        }

        .social_block {
            position: relative;
            z-index: 10;
            a {
                text-decoration: none;
                color: $white;
                text-transform: uppercase;
                font-size: 1.2rem;
                font-family: $openSans;
                letter-spacing: 3px;
                margin: 20px;
                transition: 0.3s all ease-in-out;
            }
        }
    }

    canvas {
      position: absolute;
      top: 0;
      left: 0;
      touch-action: none;
      z-index: 1;
    }
  }