<template>
    <div class="about">
        <div>
            <p><span>I’m a freelance Front End Developer based in London.</span></p>
            <p><span>I specialise in creating interactive experiences and user-friendly interfaces whilst </span></p>
            <p><span>maintaining semantic, clean markup and SEO friendly code.</span></p>
        </div>

        <div>
            <p><span>I’ve had the privilege to collaborate with several major brands, agencies and start-ups</span></p>
            <p><span>such as Airbnb, King, Nokia, Cohn & Wolfe, Fnatic, JustEat, Malibu and many more.</span></p>
        </div>

        <div>
            <p><span>I’m currently available for new collaborations with forward thinking, open companies</span></p>
            <p><span>looking for a partner to create exceptional, creative experiences.</span></p>
        </div>

        <div class="social_block">
            <a href="">Mail</a>
            <a href="">Twitter</a>
            <a href="">BitBucket</a>
            <a href="">Linkedin</a>
        </div>
        <navigationButton></navigationButton>
    </div>
</template>

<script>
import navigationButton from '@/components/button'
export default {
    name: 'About',
    components: {
        navigationButton
    },
    mounted() {
        let p = document.querySelectorAll("p span"),
            title = document.getElementsByTagName('h1'),
            social = document.querySelectorAll('.social_block a'),
            background_img = document.querySelector('.background_img')
          
        for (let i = 0; i < title.length; i++) {
            if(!title[i].classList.contains('minimize')) {
                title[i].classList.add('minimize')
            }
        }

        TweenMax.staggerTo(p, 2,{x:0, y:0,z:0, transformOrigin:"0% 100%", ease: Power4.easeOut}, 0.1)      
    }
}
</script>

<style lang="scss">
    div {
        p {
            overflow: hidden;

            span {
                display: inline-block;
                transform: translate3d(0,101%,0);
            }
        }
    }
</style>



