<template>
    <div class="navigation">
        <button @click="changePage()">
            <span></span>
            <span>more</span>
            <span>info</span>
            <span></span>
        </button>
    </div>
</template>

<script>
    export default {
        name: 'navigation_Button',
        methods: {
            changePage() {
                let title = document.getElementsByTagName("h1"),
                    that = this
                for (let i = 0; i < title.length; i++) {
                    title[i].classList.toggle('minimize')
                    if(title[i].classList.contains('minimize')) {
                        that.$router.push({name: 'About'})
                    } else {
                        that.$router.push({name: 'Home'})
                    }
                }
            }
        }
    }
</script>