<template>
  <div class="home">
    <navigationButton></navigationButton>
  </div>
</template>

<script>
import navigationButton from '@/components/button'
export default {
  name: 'Home',
  components: {
    navigationButton
  },
  mounted() {
      let title = document.getElementsByTagName("h1")

      for (let i = 0; i < title.length; i++) {
          if(title[i].classList.contains('minimize')) {
              title[i].classList.remove('minimize')
          }
      }
  },
}
</script>