<template>
  <div id="app">
    <canvas id="c" width="500px" height="500px"></canvas>
    <h1>
      <span>{{ mainTitle }}</span>
    </h1>
    <div class="background_title">
      <h2>{{ bgTextTop }}</h2>
      <h2>{{ bgTextBottom }}</h2>
    </div>
    <router-view/>
  </div>
</template>

<script>
import Grid from '@/store/grid'

export default {
  name: 'App',
   data () {
    return {
      mainTitle: 'Alexandre Buchs',
      bgTextTop: 'Coming',
      bgTextBottom: 'Soon'
    }
  },
  mounted() {
    (function() {
      let canvas = document.getElementById("c"),
          title = document.querySelectorAll('h1 span')

      if(canvas != null && canvas != undefined) {
       Grid.beginGrid(canvas)
       window.addEventListener('resize', function() {
         Grid.beginGrid(canvas)
       })

       for (let i = 0; i < title.length; i++) {
         TweenMax.to(title[i], 2, {x:0, y:0,z:0,transformOrigin:"0% 100%", ease: Power4.easeOut})
       }
      } 
    })()
  },
}
</script>

<style lang="scss">
  @import '/assets/scss/config';
</style>

